# Database
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=your_password
DB_DATABASE=testmeet

# Backend
PORT=3000

# Frontend
VITE_API_URL=http://localhost:3000
VITE_WS_URL=ws://localhost:3000